<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome!</h1>
    <div id="boxes">
        <p>{%for i in range(0,(num*2)):%}</p>
            <p class="square" style="background-color:{{color}}">{{num[i]}}</p>
        <p>{% endfor %}</p>
    </div>
</body>
</html>