* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

th,tr, td, .user_output, table, form {
    display: flex;
}

form {
    flex-direction: column;
    gap: 15px;
}

h1 {
    text-align:left;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

button {
    max-width: 10rem;
}

.container {
    min-width: 25rem;
}

input {
    max-width: 20rem;
}

table {
    min-width: 20rem;
    gap: 10px;
}


th,tr, td, .user_output, table {
    min-width: 15rem;
    justify-content: space-between;
}

.user_output {
    flex-direction: row;
    flex-wrap: wrap;
}

tr {
    min-width: 20rem;
}


